
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: rgba(82, 110, 88, 0.95);
}

/* LOGO */
.logo h1 {
    font-size: 24px;
    line-height: 1.2;
    color: white;
}

/* NAV LINKS */
nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}

nav a:hover {
    opacity: 0.7;
}

/* ACTIVE PAGE */
nav a.active {
    border-bottom: 2px solid white;
    padding-bottom: 3px;
}
body {
  font-family: "Garamond", serif;
  background: linear-gradient(135deg, #cfded4, #355f3b);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 920px;
  background-color: #ffffff;
  margin: 80px auto;
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
  text-align: center;
}

/* MAP SECTION */
.map-section {
    margin-top: 140px; /* space below fixed navbar */
    text-align: center;
}

.map-title {
    color: white;
    font-size: 32px;
    margin-bottom: 20px;
}

.map-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.world-map {

    height: auto;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.4);
}
.place-info {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
}

.place-info img {
    width: 300px;
    margin-top: 15px;
    border-radius: 10px;
}

/* MODAL BACKGROUND */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

/* MODAL BOX */
.modal-content {
    background: white;
    margin: 8% auto;
    padding: 30px;
    width: 70%;
    border-radius: 12px;
    text-align: center;
    max-height: 80vh;
    overflow-y: auto;
    animation: fadeIn 0.3s ease-in-out;
}

/* CLOSE BUTTON */
.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
}

#placeImages img {
    width: 250px;
    margin: 10px;
    border-radius: 10px;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}