
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: rgba(82, 110, 88, 0.95);
}

/* LOGO */
.logo h1 {
    font-size: 24px;
    line-height: 1.2;
    color: white;
}

/* NAV LINKS */
nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}

nav a:hover {
    opacity: 0.7;
}

/* ACTIVE PAGE */
nav a.active {
    border-bottom: 2px solid white;
    padding-bottom: 3px;
}
body {
  font-family: "Garamond", serif;
  background: linear-gradient(135deg, #cfded4, #355f3b);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 920px;
  background-color: #ffffff;
  margin: 80px auto;
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
  text-align: center;
}

/* BUCKET LIST */
.bucket-list {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 20px;
    text-align: left;
    font-size: 18px;
    line-height: 2;
    color: #355f3b;
}

.bucket-list li {
    background: #f0f6f0;
    margin-bottom: 12px;
    padding: 12px 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background 0.3s;
}

.bucket-list li:hover {
    transform: translateY(-3px);
    background: #d6e5d6;
}

h2 {
    color: rgb(28, 78, 26);
    
}